<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= "SkillNest" %>
    </title>

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/components.css">
    <!-- <% if (pageCSS) { %>
        <link rel="stylesheet" href="/css/pages/<%= pageCSS %>">
        <% } %> -->
</head>

<body>
    <%- include("../partials/navbar.ejs") %>

        <main class="app">
            <%- include("../partials/flash.ejs") %>
                <%- body %>
        </main>

        <%- include("../partials/footer.ejs") %>
</body>

</html>